---
import { markdownify, despaceify } from "@lib/utils/textConverter";
import { Image } from 'astro:assets'
import CustomerLogos from "./CustomerLogos.astro";
const { banner } = Astro.props;
const { title, button, image, content, punchline, tel, customers } = banner;
---

<section class="section banner relative">
  <div class="container">
    <div class="row">
      <div class="lg:col-8 sm:col-12">
        <h1 class="banner-title" set:text={title} />
        <p class="mt-6" set:html={markdownify(content)} />
        <CustomerLogos customers={customers} />
        <p class="mt-6" set:html={markdownify(punchline)} />
      </div>
      <div class="hidden lg:block lg:col-4">
        <Image
          class="mx-auto max-w-[50%] lg:max-w-full object-contain mt-8"
          alt="banner"
          src={image}
          width={400}
          height={400}
          decoding="sync"
          loading="eager"
        />
      </div>
      <!--
      <div class="sm:col-6 text-center lg:text-left">
        <a class="btn btn-primary sm:mt-8 sm:mb-8 lg:mb-0" href={button.link}>
          {button.label}
        </a>
        <p class="mt-4">
          {tel.label}: <a href={tel.link} style="white-space: nowrap">{tel.number}</a>
        </p>
      </div>
      -->
    </div>
  </div>
</section>
